<%= simple_form_for @goal do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :goal_amount %><br>
    <%= f.text_field :target %>
  </div>

  <div class="field">
    <%= f.label :target_completion_date %><br>
    <%= f.text_field :target_date %>
  </div>

  <div class="field">
    <%= f.label :current_balance %><br>
    <%= f.text_field :balance %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
